* {
    font-family: 'Poppins', sans-serif;  
}

h1, h2 {
    display: inline;
    font-family: 'Permanent Marker', cursive;
}

p {
    margin: 20px;
    text-align: justify;
}

#flags {
    float: right;
    margin-top: 17.5px;
}

#content {
    margin-left: 15%;
    margin-right: 15%;
}

#title {
    margin-top: 20px;
}

#item {
    margin-top: 20px;
}